<div id="<%= dom_id bill %>">
  <p>
    <strong>Title:</strong>
    <%= bill.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bill.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= bill.date %>
  </p>

</div>
